# Script contents:
1. Importing libraries
2. Creating a dataframe
3. Performing functions
4. Creating a flag column

### 1. Importing libraries

In [2]:
import pandas as pd
import numpy as np

### 2. Creating a new dataframe

In [4]:
Data= pd.DataFrame({"Product" :['TV', 'Sweatshirt', 'Cereal', 'Milk'],
                    "Price": [250,50,7,5],
                    "Category": ['Electronics', 'Clothing', 'Grocery','Grocery']})

In [5]:
Data.head()

      Product  Price     Category
0          TV    250  Electronics
1  Sweatshirt     50     Clothing
2      Cereal      7      Grocery
3        Milk      5      Grocery

### 3. Perfroming mathematical functions

In [6]:
## I want to add 10% tax to all the products and create a new column called "price_with_tax"

In [8]:
Data['price_with_tax']=Data['Price'].apply(lambda x: x+ x*0.10)

In [9]:
print (Data)

      Product  Price     Category  price_with_tax
0          TV    250  Electronics           275.0
1  Sweatshirt     50     Clothing            55.0
2      Cereal      7      Grocery             7.7
3        Milk      5      Grocery             5.5

### 4. Creating a flag column

In [10]:
## I want to create price range label column

In [12]:
Data['price_range_label']=Data['Price'].apply(
    lambda x: 'High_end_product' if x>100 else ('Mid_range_product' if x>=50 else 'Low_range_product'))

In [13]:
print(Data)

      Product  Price     Category  price_with_tax  price_range_label
0          TV    250  Electronics           275.0   High_end_product
1  Sweatshirt     50     Clothing            55.0  Mid_range_product
2      Cereal      7      Grocery             7.7  Low_range_product
3        Milk      5      Grocery             5.5  Low_range_product